body {
background: url("images/bg02.jpg") repeat scroll 0% 0% #353D40; 
}		

.gras {
font-weight: bold;
}

.navbar-inverse	{
border-color: #fff;
}
.aligngauche {
text-align: left;
}
.aligntextdroite {
float: right;
}
.carousel-caption {
top: -20px;
right: 10%;
left: 10%;
}
header {
    color: #474F51;
    font-size: 13.5pt;
    font-family: "Courier New";
    line-height: 1.85em;
    font-weight: 400;
	}
	.popover {
width: 400px;
}

.compli {
list-style-type: none;
}


.dropdown-dark	{
text-align: center;
min-width: 60px;
background-color: #080808;
border-color: #fff;
}

@font-face {
  font-family: 'Bangers';
  font-style: normal;
  font-weight: 400;
  src: local('Bangers'), local('Bangers-Regular'), url(../fonts/bangers.woff2) format('woff2'), url(../fonts/bangers.woff) format('woff');
}

.underline {
text-decoration: underline;
}

.ital {
font-style: italic;
}

h1 a {
float: left;
color:  #000;
padding-top: 5px;
padding-bottom: 5px;
font-size: 20pt;
font-family: "Courier New";
font-weight:bold;
}

h1 a:hover {
text-decoration: inherit;
color: #333;
}


h1 {
font-family: "Bangers";
}



.bangers	{
font-size: 30pt; 
font-family: "Bangers";

}

.courrier	{
    font-family: "Courier New";
}

.fixnav {
position: fixed;
}

.aligndroite {
float: right;
}

.iconloi {
position: relative;
display: inline-block;
margin: 0 0.75em 0 0.75em;
text-align: center;
}

.incenter {
text-align: center;
}

blockquote
{
  font-style: normal;
  font-size: 16px;
  margin-left: 32px;
  font-family: Georgia, "Times New Roman", serif;
  border-left: 4px solid #CCC;
  padding-left: 8px;
}

a i {
color: #000;
}

a[target="_self"]:after {
font-weight: 500;
content: "_";
  animation: blink 6s step-start 0s infinite;
  -webkit-animation: blink 6s step-start 0s infinite;
font-family: "Courier New";
font-weight:bold;
}

.lienext{
font-family: "Courier New";
color:inherit;
}

.linkext{
font-family: "Courier New";
color:inherit;
font-size: 1.5em;
color: #fff;
background-color: #000;
}

.linkext:hover{
text-decoration: none;
color: #333;
}

.divblack {
background-color: #000;
border: 1px solid;
border-radius: 10px; 
border-color: #EEE;
}

.lienext:after {
font-weight: 500;
content: ">";
  animation: blink 4s step-start 0s infinite;
  -webkit-animation: blink 4s step-start 0s infinite;
font-family: "Courier New";
font-weight:"none";
}



@keyframes blink {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
@-webkit-keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}


li a {
font-size: 0.9em;
}

.skillset-list li .bar .full {
height: 20px !important;
}

.skillset-list li .bar .empty {
height: 20px !important;
}

.classfoo{
	background-color: #EEEEEE;
    position: fixed;
    z-index: 100; 
    bottom: 0px; 
    left: 0;
    width: 100%;
	opacity:0.2;
}

.classfoo:hover{
	opacity:1;
}

a:active {
color:#ff0000;
text-decoration: underline;
}


